/*                               text decoration
font properties                  text-align , text-decoration   , text-transform   ,  
font-size                        text-indent , letter-spacing , word-spacing , line-height 
font-family
font-style
font-weight
*/

h1{
    text-align: center;
    text-decoration: underline;
    font-family:'Segoe UI', Verdana, sans-serif;
    /* font-style: italic; */
}
p{
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-indent: 30px;
    text-transform: capitalize;
    word-spacing: 3px;
    line-height: 2;
}
p>span{
    font-weight: 700;
    text-decoration: overline;
    text-transform: uppercase;
}
