*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
h2{
    width: 100%;
    text-align: center;
    border:1px solid olivedrab;
    background-color: rgba(167, 192, 116, 0.507);
    padding: 5px;
    /* margin: auto; */
}


@media screen and (min-width:1200px) {
    .box{
        margin-top: 20px;
        float: left;
        width: 25%;
        height: 20vh;
        border: 2px solid red;
    }

}
@media screen and (min-width:750px) and (max-width:1199px) {
    .box{
        /* margin-top: 20px; */
        float: left;
        width: 50%;
        height: 20vh;
        border: 2px solid red;
    }
    .box1,.box2{
        margin-top: 10px;
    }
}
@media screen and (max-width:750px) {
    .box{
        /* margin-top: 20px; */
        float: left;
        width: 100%;
        margin: auto;
        height: 20vh;
        border: 2px solid red;
    }
    .box1{
        margin-top: 10px;
    }
}


