*{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

/*
@media all and (min-width:1000px)
{
    .basic h2{
        font-size: xx-large;
        width: 500px;
        margin: 10px auto;
        padding: 5px;
    }
    .basic p{
        font-size: x-large;
        text-indent: 20px;
        margin-left: 10px;
    }
}
@media screen and (max-width:1000px) and (min-width:600px)
{
    body{
        background-color: rgba(180, 132, 114, 0.253);
        color: crimson;
    }
    .basic h2{
        font-size: x-large;
        width: 400px;
        margin: 10px auto;
        padding: 5px;
    }
    .basic p{
        font-size: 1rem;
        text-indent: 20px;
        margin-left: 10px;
    }
}
@media screen  and (max-width:599px){
    body{
        background-color: rgba(114, 180, 134, 0.253);
        color: rgb(26, 12, 158);
    }
    .basic h2{
        font-size: large;
        width: 350px;
        margin: 10px auto;
        padding: 5px;
    }
    .basic p{ 
        text-indent: 20px;
        width:95%;
        margin:auto;
    }
}*/
body{
    background-color: rgba(230, 230, 227, 0.486);
    /* background: url(mail.png); */
}
.full-wrap{
    background-color: white;
    width:90%;
    /* height: auto; */
    margin:auto;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid rgba(190, 164, 164, 0.623);
    border-radius: 5px;
}
.main-content{
    margin: auto;
    width: 70%;
    float: right;
}
.sidebar{
    width: 25%;
    margin: auto;
    float: left;
}
.full-wrap::after{
    content: "";
    display: block;
    clear: both;
}
.main-content p{
    text-indent: 40px;
}
.sidebar h3{
    margin-bottom: 7px;
}
.nav li{
    margin-bottom: 3px;
}
.nav li a{
    color: tomato;
}

@media all and (min-width:1200px){
    .sidebar .nav li a::after{
        content: "(" attr(data-email)")";
        color: grey;
        font-size: 12px;
        font-style: italic;
    }
}

@media all and (min-width:900px) and (max-width:1199px){
    .sidebar .nav li a::before{
        content: "Email : ";
        color: grey;
        font-size: 12px;
        font-style: italic;
    }
}
@media all and (min-width: 600px ) and (max-width:899px) , (min-width:1200px)
{
    .sidebar .nav li span{
        padding-left: 20px;
        padding-right: 10px;
        background: url(mail.png);
        background-position: left center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}