*{
    box-sizing: border-box;
}

.wrapper{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 200px;
    left: 200px;
    /* border: 2px solid red; */
    display: grid;
    /* flex-wrap: wrap; */
    grid-template-columns: repeat(3,1fr);
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95px;
    height: 95px;
    border: 2px solid blue;
    cursor: pointer;
}



