*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(243, 248, 178, 0.938);
}
.container{
    background-color: rgba(160, 211, 240, 0.973);
    display: flex;
    flex-direction:column ;
    width: 90%;
    max-width: 350px;
    height: 60vh;
    padding: 20px;
    border-radius: 15px;
}
.display{
    font-size: 20px;
    font-weight: 600;
    padding: 15px;
    margin: auto;
    margin-bottom: 20px;
    width: 300px;
    height: 50px;
    border: 2px solid rgb(255, 17, 0);
    border-radius: 10px;
}
.wrapper{
    min-width: 300px;
    min-height: 300px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
}
.item{
    /* margin: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 60px;
    border: 2px solid red;
    border-radius: 20px;
    cursor: pointer;
}
.item:hover{
    background-color: rgb(240, 48, 48);
}
.equal{
    height: 100%;
    grid-row: 4/6;
    grid-column: 4/5;
}