*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Montserrat',sans-serif;
    font-size: 100%;
}
body{
    background-color: #f2f2f2;
}
nav{
    color: #f2f2f2;
    background-color:#171c24 ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 100px;
}
nav .logo{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
}
nav .nav-items{
    list-style: none;
    display: flex;
    align-items: center;
    /* background: chartreuse; */
    flex: 1;
    height: 70px;
    padding: 0 100px;
}
nav .nav-items li{
    padding:0 15px ;
}
nav .nav-items li a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}
nav .nav-items li a:hover{
    color: #ff3d00;
}
nav form{
    display: flex;
    height: 40px;
    background-color: #1e232b;
    min-width: 18%!important;
    border: 1px solid rgba(155,155,155,0.2);
}
nav form .search-data{
    height: 100%;
    width: 100%;
    padding: 0 10px;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    background: none;
    border: none;
}
nav form button{
    padding: 0 15px;
    background: #ff3d00;
    border: none;
    cursor: pointer;
    font-size: 17px;
    color: #fff;
}
nav .menu-icon,
nav .search-icon,
nav .cancel-icon{
    width: 40px;
    color: #fff;
    text-align: center;
    margin: 0 50px;
    font-size: 18px;
    cursor: pointer;
    display: none;
}
/* ############################ media query for responsive website ############  */

@media (max-width:1140px){
    nav{
        padding: 0 50px;
    }
    nav .logo{
        flex: 2;
        text-align: center;
    }
    nav .nav-items{
        position: fixed;
        z-index:100;
        top: 70px;
        left: -100%;
        width: 100%;
        height: 100%;
        background: #14141f;
        display: inline-block;
        padding: 10px 50px 0 50px;
        text-align: center;
        transition: left 0.5s ease;
    }
    nav .nav-items.active{
        left: 0%;
    }
    nav .nav-items li{
        line-height: 40px;
        margin: 30px 0;
    }
    nav .nav-items li a{
        font-size: 20px;
    }
    nav form{
        position: absolute;
        top: 80px;
        right: 50px;
        opacity: 0; 
        transition: top 0.3s ease, opacity 0.1 ease;  
    }
    nav form.active{
        position: absolute;
        top: 95px;
        right: 50px;
        opacity: 1;
    }
    nav form::before{
        position: absolute;
        content: "";
        top: -13px;
        right: 0;
        width: 0;
        height: 0;
        z-index: -2;
        margin: -20px 0 0;
        border: 10px solid transparent;
        border-bottom-color: #1e232b;
    }
    nav form::after{
        position: absolute;
        content: "";
        height: 60px;
        width: calc(100% + 20px);
        padding: 2px;
        background: #1e232b;
        border-radius: 2px;
        z-index: -1;
        border: 2px solid transparent;
        border-bottom-color: #1e232b;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    nav .menu-icon{
        display: block;
    }
    nav .search-icon,
    nav .menu-icon span{
        display: block;
    }
    nav .search-icon.hide,
    nav .menu-icon span.hide{
        display: none;
    }
    nav .cancel-icon.show{
        display: block;
    }
}
@media (max-width:980px){
    nav .menu-icon,
    nav .search-icon,
    nav .cancel-icon{
        margin: 0 20px;
    }
    nav form {
        right:30px;
    }
    
}
@media (max-width:440px){
    nav .menu-icon,
    nav .search-icon,
    nav .cancel-icon{
        margin: 0px;
        font-size: 14px;
    }
    nav .logo{
        font-size: 24px;
    }
}