*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
#outer{
    background-color: black;
    width:40vw;
    height:40vw;
    position: relative;
}

#buttons{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}

.button{
    padding:8px 14px;
    margin-right: 10px;
    font-size: 18px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background: #ccc;
}

.button:hover{
    background-color: #bbb;
}

#inner{
    position: absolute;
    background-color: #eee;
    width:10%;
    height:10%;
}

#bomb{
    position: absolute;
    background-color: red;
    width:10%;
    height:10%;
    opacity:0;
    transition: opacity 0.5s ease-in-out;
}